@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: Poppins;
}

input,
button {
  font-size: 16px;
}

body {
  background-color: #e8f1f5;
}

section {
  background-color: white;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2980b9;
  color: white;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: #2980b9;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #2980b9;
  box-shadow: 0 3px 0 0 #339adf;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
input[type="text"]:focus {
  border: 2px solid #2980b9;
}
.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: #2980b9;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: #2980b9;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
}

.search_section > h2 {
  color: #2980b9;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: #2980b9;
  box-shadow: 0 3px 0 0 #339adf;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search_section > form > button:hover,
.input_section > form > button:hover {
  box-shadow: 0 0 0 0 transparent;
  transform: translateY(5px);
}

.book_shelf {
  margin: 16px 0 0 0;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: #2980b9;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid gray;
  border-radius: 7px;
  margin: 10px 0;
  color: rgb(58, 58, 58);
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: #2ecc71;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .yellow {
  background-color: #f1c40f;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: #e74c3c;
  color: white;
}

.error {
  border: 2px solid red;
}

small {
  color: red;
}

.error_display {
  display: none;
}

#clear {
  color: #e74c3c;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

footer p {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b969b;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  line-height: 5px;
}

button.atas {
  position: fixed;
  bottom: 10vh;
  justify-content: center;
  right: 5vw;
  border: 0;
  padding: 5px;
  border-radius: 50px;
  background-color: #2980b9;
  color: white;
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.atas p:nth-child(2) {
  line-height: 5px;
  font-size: 0.8em;
  font-weight: 300;
}

.atas:hover {
  background-color: #339adf;
}

.hidden {
  opacity: 0;
}
